*{
    margin: 0 ;
    padding: 0;
}

body { 
    background: #f5f5f5;
    font-family: Helvetica, sans-serif;

}

.header { 
    padding: 50px 27%;
}

.main-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.left-column, .right-column {
    font-size: 35px;
}

.all-valute__wrap {
    display: flex;
    text-align: center;

    border: 1px solid black;
    overflow: auto;
    
    max-height: 650px;
    width: 250px;
}

.currency-exchange-rates {
    font-size: 25px;
    padding: 10px;
}

.all-valute__char-code {
    cursor: pointer;
}

.convers__wrap {
    text-align: center;
    margin-top: 150px;
}

.convers-input {
    width: 150px;
    font-size: 23px;
    content: '';
}

.valute-id {
    font-size: 20px;
    width: auto;
    text-align: center;


}